@model List<ApplicationCore.Models.MovieCardResponseModel>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Purchased Movie</h2>
        </div>
    </div>
    <br />
    @foreach (var movie in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col-xs" style="width:100px;">
                    @await Html.PartialAsync("_MovieCard", movie)
                </div>
                <div class="col-sm">
                    <h3>@movie.Title</h3>
                </div>
            </div>
        </div>
    }
</div>
